extends layout

block header
  style.
    .masthead.segment {
      min-height: 700px;
    }

block masthead
  .ui.text.container
    h1.ui.inverted.header Imagine-a-Company
    h2 Do whatever you want when you want to.
    .ui.huge.primary.button
      | Get Started
      i.right.arrow.icon
