doctype html
header
  // Standard Meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
  // Site Properties
  title Example integration of the authentiation service
  link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css')
  style(type='text/css').
        .hidden.menu {
          display: none;
        }

        .masthead.segment {
          padding: 1em 0em;
        }
        .masthead .logo.item img {
          margin-right: 1em;
        }
        .masthead .ui.menu .ui.button {
          margin-left: 0.5em;
        }
        .masthead h1.ui.header {
          margin-top: 3em;
          margin-bottom: 0em;
          font-size: 4em;
          font-weight: normal;
        }
        .masthead h2 {
          font-size: 1.7em;
          font-weight: normal;
        }

        .secondary.pointing.menu .toc.item {
          display: none;
        }

        @media only screen and (max-width: 700px) {
          .ui.fixed.menu {
            display: none !important;
          }
          .secondary.pointing.menu .item,
          .secondary.pointing.menu .menu {
            display: none;
          }
          .secondary.pointing.menu .toc.item {
            display: block;
          }
          .masthead.segment {
            min-height: 350px;
          }
          .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
          }
          .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
          }
        }

  block header

.pusher
  .ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
      .ui.large.secondary.inverted.pointing.menu
        a.toc.item
          i.sidebar.icon
        a.active.item(href='/') Home
        a.item Work
        a.item Company
        a.item Careers
        .right.item
          if !user
            a.ui.inverted.button(href='/auth/signin') Log in
            a.ui.inverted.button(href='/auth/register') Sign Up

    block masthead

block content
